
    .header__link {
        text-decoration: none;
        color: #0080c8;
        font-family: Tahoma;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        margin-right: 50px;
    }
